.container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.err_msg-container {
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    color: red;
    font-size: larger;
}
body {
    background-color: aquamarine;
}
.success_msg-container {
    display: flex;
    justify-content: center;
    color: green;
    font-size: larger;
}